.App {
  text-align: center;
  background-color: #e0f7fa;
  min-height: 70vh;
  width: 300px;
  position: fixed;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  border: 1px solid #00796b;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
